
<div class="container"> <!-- Beginning of container for shopping cart-->
	<div class="row" ng-show = "cart.getState() == 1"> <!-- Div for the whole panel -->
		<div class = "col-md-12 col xs-12"> <!-- Column definition -->
			<div class="panel panel-info"> <!-- Panel class specifiying blue color -->
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-md-6">
								<h5><span class="glyhpicon glyphicon-shopping-cart"></span>Cart</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
				    <div class = "row" ng-show = "!cart.getValidity()">
				    	<span class = "error">{{cart.errorMessage}}</span>
				    </div>
				    <div class = "row" ng-show = "!cart.items.length">
				    	<div class = "col-md-6 col-xs-12">
				    		<h4>Your cart is empty</h4>
				    	</div>
				    </div>
					<div class="container-fluid" ng-show = "cart.items.length" ng-repeat = "item in cart.items">
						<div class="row">
						    <div class="col-md-2 col-xs-12">
						    	<img class="img-responsive" src="assets/images/150x70.png">
						    </div> 
							<div class="col-md-4 col-xs-12">
								<h4>
									<strong>{{item['Product name']}}</strong>
								</h4>
								<h4>
									<small>{{item['Product description']}}</small>
								</h4>
							</div>
							<div class="col-md-2 col-xs-12">
								<h4>
									 Color : {{item['Color']}}
								</h4>
								<h4>
									 Size : {{item['Size']}}
								</h4>
							</div>
							<div class="col-md-4 col-xs-12">
								<div class="col-md-6 text-right">
									<h4>
										<strong>{{item['Product price per qty'] | currency}}</strong>
										x <strong>{{item['Quantity']}}</strong>
									</h4>
								</div>
								<div class="col-md-4 col-xs-9">
									<h4>
										<strong>{{item['Product price'] | currency}}</strong>
									</h4>
								</div>
								<div class="col-md-2 col-xs-2" ng-show="item['Discount'] != 0.0">
									<h4 class="text-success">{{item['Discount']}} off</h4>
								</div>
							</div>
						</div>
						<hr>
					</div>
				</div>
				<div class="panel-footer" ng-show="cart.items.length">
					<div class="row">
						<div class="col-md-9 col-xs-12 text-right">
							<h4>
								<strong>Total before discount : {{cart.total | currency}}</strong>
							</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9 col-xs-12 text-right">
							<h4 class = "text-success">
								<strong> Total savings : {{cart.discount | currency}}</strong>
							</h4>
						</div>
						<div class="col-md-3 col-xs-12">
							<button class="btn btn-success btn-lg btn-block" ng-click="cart.setState(cart.success,2)">Checkout</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9 col-xs-12 text-right">
							<h4>
								<strong>Total after discount : {{cart.total_after_discount | currency}}</strong>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container"> <!-- Beginning of billing details-->
	<div class="row" ng-show = "cart.getState() == 2"> <!-- Div for the whole panel -->
		<div class = "col-md-12 col xs-12"> <!-- Column definition -->
			<div class="panel panel-info"> <!-- Panel class specifiying blue color -->
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-md-6">
								<h5>Enter shipping details</h5>
							</div>
							<div class="col-md-6">
								<button class="btn btn-primary btn-sm pull-right" ng-click="cart.setState(1,1)">Edit cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class = "row" ng-show = "!cart.getValidity()">
				    	<span class = "error">{{cart.errorMessage}}</span>
				    </div>
					<div class="row">
						<div class="col-md-8 col-xs-12">
							<div class="form-group">	
							<label for="shippingAddress">Shipping address:</label> <textarea
									 class="form-control" id="shippingAddress"
									placeholder="Shipping address" rows="4" cols="50" ng-model = "cart.shipping_address" required> Enter shipping address</textarea>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="form-group">
								<label for="shippingState">Shipping state:</label>
								<select class="form-control" id="shippingState" ng-model = "cart.shipping_state" required>
									<option class="form-control" ng-repeat = "state in cart.states" value = "{{state}}">{{state}} </option>
								</select>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="form-group">
								<label for="promoCode">Promo code:</label> <input
									type = "text" class="form-control" id="promoCode"
									placeholder="Enter promo code" ng-model = "cart.promo_code">
							</div>
						</div>
					</div>
					<hr>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-md-3 text-right">
							<button class="btn btn-success btn-lg btn-block" ng-click="cart.setState(cart.calculateFinalAmount(), 3);">Review details</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Final review of order -->
<div class="container"> <!-- Beginning of billing details-->
	<div class="row" ng-show = "cart.getState() == 3"> <!-- Div for the whole panel -->
		<div class = "col-md-12 col xs-12"> <!-- Column definition -->
			<div class="panel panel-info"> <!-- Panel class specifiying blue color -->
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-md-6">
								<h5>Review</h5>
							</div>
							<div class="col-md-6">
								<button class="btn btn-primary btn-sm pull-right" ng-click="cart.setState(1,2)">Back</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
				    <div class = "col-md-6 col-xs-12">
				        <div class = "row">
				        	<div class = "col-md-4 col-xs-12">
				        		<h4><strong> Item list :</strong></h4>
				        	</div>
				        </div>
				        <div class = "container-fluid" ng-repeat = "item in cart.items">
					    	<div class = "row">
					    		<div class = "col-md-12 col-xs-12">
					    			<strong>{{item['Product name']}}</strong>
					    		</div>	
					    	</div>
					    	<div class = "row">
					    		<div class = "col-md-2 col-xs-12">
					    			<strong>Size : {{item['Size']}}</strong>
					    		</div>
								<div class = "col-md-2 col-xs-12">
					    			<strong>Color : {{item['Color']}}</strong>
					    		</div>
					    		<div class = "col-md-2 col-xs-12">
					    			<strong>Qty : {{item['Quantity']}}</strong>
					    		</div>
					    		<div class = "col-md-2 col-xs-12">
					    			<strong>Price : {{item['Product price']}}</strong>
					    		</div>
					    		<div class = "col-md-2 col-xs-12" ng-show="item['Discount'] != 0.0">
					    			<strong class="text-success">Discount : {{item['Discount']}}</strong>
					    		</div>					    		
					    	</div> 
				    	</div>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<h4> <strong>Total items in cart<strong> : {{cart.num_items}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<h4> <strong> Items will be shipped to <strong> : {{cart.shipping_address}}</h4>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-xs-12">
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<h4> <strong>Total price before discount <strong> : {{cart.total | currency}} </h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<h4> <strong>Total savings <strong> : {{cart.discount | currency}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<h4> <strong>Total price after discount <strong> : {{cart.total_after_discount|currency}}</h4>
							</div>
						</div>
						<div class="row" ng-show = "cart.promo_code_discount_percentage != 0.0">
							<div class="col-md-8 col-xs-12">
								<h4> <strong> Promo code discount percentage <strong> : {{cart.promo_code_discount_percentage| number:2}}%</h4>
							</div>
						</div>
						<div class="row" ng-show = "cart.promo_code_discount_percentage != 0.0">
							<div class="col-md-8 col-xs-12">
								<h4> <strong> Promo code discount<strong> : {{cart.promo_code_discount|currency}}</h4>
							</div>
						</div>
						<div class="row" ng-show = "cart.promo_code_discount_percentage != 0.0">
							<div class="col-md-8 col-xs-12">
								<h4> <strong> Total after promo code discount<strong> : {{cart.total_after_promo_code_discount|currency}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-xs-12">
								<h4> <strong> Sales tax ({{cart.shipping_state}})<strong> : {{cart.tax_percentage|number:2}}%</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-xs-12">
								<h4> <strong> Sales tax amount<strong> : {{cart.sales_tax | currency}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-xs-12">
								<h4> <strong> Grand total <strong> : {{cart.grand_total | currency}}</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
					    <div class="col-md-8">
					    </div>
						<div class="col-md-4 text-right">
							<button class="btn btn-success btn-lg btn-block" ng-click="cart.setState(1,4)">Confirm order</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container"> <!-- Beginning of billing details-->
	<div class="row" ng-show = "cart.getState() == 4"> <!-- Div for the whole panel -->
		<div class = "col-md-12 col xs-12"> <!-- Column definition -->
			<div class="panel panel-success"> <!-- Panel class specifiying blue color -->
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-md-6">
								<h5>Order confirmation</h5>
							</div>
							<div class="col-md-6">
								<button class="btn btn-primary btn-sm pull-right" ng-click="cart.setState(1,3)">Back</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
				    <div class = "col-md-6 col-xs-12">
				    	<div class = "row">
				    		<div class = "col-md-6 col-xs-12">
				    			<strong class="text-success"> Your order has been confirmed !</strong>
				    		</div>
				    	</div>
				    	<div class = "row">
				    		<div class = "col-md-6 col-xs-12">
				    			<strong> Confirmation number : {{cart.confirmation_number}}</strong>
				    		</div>
				    	</div>
				    </div>					
				</div>
			</div>
		</div>
	</div>
</div>